body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #00579A;
  color: white;
  text-align: center;
  padding: 10px;
}

h1 {
  margin-top: 50px;
  margin-bottom: 30px;
  text-align: center;
}

p {
  font-size: 24px;
  text-align: center;
}

button {
  background-color: #00579A;
  border: none;
  color: white;
  padding: 10px;
  margin-top: 20px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #003652;
}

#tip-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 70vh;
}

#tip {
  max-width: 80%;
}

@media (max-width: 768px) {
  p {
    font-size: 20px;
  }
  
  h1 {
    font-size: 32px;
  }
  
  #tip {
    max-width: 90%;
  }
}

@media (max-width: 480px) {
  p {
    font-size: 18px;
  }
  
  h1 {
    font-size: 28px;
  }
  
  button {
    font-size: 14px;
    padding: 8px;
  }
  
  #tip {
    max-width: 100%;
  }
}